<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h5>Product List</h5>
        <app-product-list [productItemList]="productList" (productAddedFromApp)="onAddProduct($event)"></app-product-list>

      </div>
      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">Shopping Cart</h5>
              <p class="card-text">
                <app-shoppingcart [addedProduct]="productInShopCart"></app-shoppingcart>
              </p>
            </div>
          </div>


      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
